.q-table {
  border-radius: 8px;
  overflow: hidden; /* Garante que o arredondamento se aplique à tabela e não apenas ao container */
}

.q-table thead tr {
  background-color: #1976d2 !important; /* Cor destacante para o cabeçalho */
  color: white; /* Cor do texto */
}

.q-table thead th {
  font-weight: bold;
}

.q-table tbody tr {
  background-color: #f9f9f9; /* Cor de fundo levemente diferente para as linhas */
}

.q-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff; /* Alternância de cores para as linhas */
}

.q-table tbody tr:hover {
  background-color: #e0f7fa; /* Cor de destaque ao passar o mouse */
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px; /* Define a largura máxima da sidebar */
  display: flex;
  flex-direction: column;
  height: 100%; /* Garante que o contêiner ocupe toda a altura da sidebar */
}

.filter-field {
  width: 100%; /* Ou qualquer outra largura que se ajuste ao seu design */
}

.btn-side-filter {
  width: 100%;
  margin-right: auto;
}

.custom-border {
  border: 1px solid #E0E0E0; /* Cor da borda */
  border-radius: 4px; /* Arredondamento da borda */
  padding: 4px; /* Espaçamento interno para que o conteúdo não fique muito próximo da borda */
}

.my-stretch-table {
  height: calc(100vh - 100px); /* Ajuste 20px conforme necessário */
}

.my-stretch-table td, .my-custom-cell {
  border-bottom: 1px solid #E0E0E0; /* Adiciona bordas verticais entre as células, se desejado */
}
