.q-table {
  border-radius: 8px;
}

.q-table thead tr {
  background-color: #1976d2 !important; /* Cor destacante para o cabeçalho */
  color: white; /* Cor do texto */
}

.q-table thead th {
  font-weight: bold;
}

.q-table tbody tr {
  background-color: #f9f9f9; /* Cor de fundo levemente diferente para as linhas */
}

.q-table tbody tr:nth-of-type(odd) {
  background-color: #ffffff; /* Alternância de cores para as linhas */
}

.q-table tbody tr:hover {
  background-color: #e0f7fa; /* Cor de destaque ao passar o mouse */
}

.custom-border {
  border: 1px solid #e0e0e0; /* Cor da borda */
  border-radius: 4px; /* Arredondamento da borda */
  padding: 4px; /* Espaçamento interno para que o conteúdo não fique muito próximo da borda */
}

/*** FILTER ***/
.filters-container {
  background-color: #1976d2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px; /* Define a largura máxima da sidebar */
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 10px;
  /* max-height: 90vh;  */
  /* overflow-y: auto;
  overflow-x: hidden; */
}

.filter-field {
  width: 100%; /* Ou qualquer outra largura que se ajuste ao seu design */
}

.btn-side-filter {
  width: 100%;
  margin-right: auto;
}

.input-filter-container {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 70%;
  padding-right: 10px;
}

.btn-side-container {
  margin-top: auto;
}

.filter-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 7px; /* Espaço extra para a sombra */
  position: relative; /* Necessário para a sombra */
  width: 100%;
  text-align: left;
}

.filter-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px; /* Altura da "borda" */
  background: rgb(155, 148, 148); /* Efeito suave */
  /* Ajuste as cores e a opacidade conforme necessário */
}

.q-field__label {
  font-weight: bold;
}

.q-toggle__label,
.filter-title {
  font-weight: bold;
  color: white;
}

.q-field--labeled {
  background-color: white;
}

/*****    STICKY    *******/

.my-stretch-table {
  height: calc(100vh - 100px);
}

thead tr th {
  position: sticky;
  z-index: 1;
}
/* this will be the loading indicator */
thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}
thead tr:first-child th {
  top: 0;
}

/****       -TOTAIS-     ******/
.totals-container {
  display: flex;
  background-color: #fff; /* ou a cor de fundo da sua tabela */
}

.total {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.total-currency {
  font-weight: bold;
}
